[Unit]
Description=Infini-X Main Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/infinid # Placeholder path
Restart=on-failure

[Install]
WantedBy=multi-user.target
